# Игнорировать файл с секретами
.env

# Игнорировать папку с результатами
output/

# Игнорировать виртуальное окружение
venv/

# Игнорировать системные файлы Python
__pycache__/
*.pyc

# Игнорировать настройки VS Code (по желанию)
.vscode/